Test/DAO_ClassLibrary/WebApplication1/DataFiles/Brand_XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="lst">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="int">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:unsignedShort">
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="lst">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:choice maxOccurs="unbounded">
                        <xs:element maxOccurs="unbounded" name="str">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute name="name" type="xs:string" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="arr">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="str" type="xs:string" />
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="lst">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="int">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:unsignedInt">
                                      <xs:attribute name="name" type="xs:string" use="required" />
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="search_rules">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="rule">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="id" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="active" type="xs:boolean" />
                            <xs:element name="type" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="result">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="doc">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="int">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:unsignedInt">
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="numFound" type="xs:unsignedInt" use="required" />
              <xs:attribute name="start" type="xs:unsignedByte" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="banners" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>